<html>
  <body>
    <h1><%= title %></h1>
    <h3>Mensagem</h3>
    <p><%= message.text %></p>
    <h3>Usuário</h3>
    <p><%= message.user %></p>
    <h3>Data</h3>
    <p><%= message.added %></p>
  </body>
</html>
