<html>
  <body>
    <h1><%= title %></h1>
    <h3>Mensagem</h3>
    <p><%= mensagem.mensagem %></p>
    <h3>Usuário</h3>
    <p><%= mensagem.usuario %></p>
    <h3>Data</h3>
    <p><%= mensagem.data_criacao %></p>
  </body>
</html>
