<html>
  <body>
    <h1>Envie sua mensagem</h1>
    <form action="/new" method="POST">
      <input
        type="text"
        name="message"
        required
        placeholder="Insira sua mensagem"
      />
      <input type="text" name="user" required placeholder="insira seu nome" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
