<html>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
    <ul>
      <li>Mensagem: <%= message.text %></li>
      <li>Usuário: <%= message.user %></li>
      <li>Data: <%= message.added %></li>
    </ul>
    <% }) %>
    <button onclick="window.location.href = `${window.location.href}new`">
      Nova mensagem
    </button>
  </body>
</html>
